@model EntityLayer.Concretes.Contact

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesaj Detayları</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="compose.html" class="btn btn-success btn-block mb-3">Yeni Mesaj Oluştur</a>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Klasörler</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item active">
                                <a href="/Contact/Index/" class="nav-link">
                                    <i class="fas fa-inbox"></i> Gelen Kutusu
                                    <span class="badge bg-primary float-right">12</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-envelope"></i> Gönderilenler
                                    <span class="badge bg-success float-right">12</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-file-alt"></i> Taslaklar
                                    <span class="badge bg-warning float-right">12</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-filter"></i> Spam
                                    <span class="badge bg-secondary float-right">65</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-trash-alt"></i> Çöp Kutusu
                                    <span class="badge bg-danger float-right">12</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Hazır Mesajlar</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle text-danger"></i>
                                    Sosyal Medya Mesajları
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle text-warning"></i> Tanıtımlar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle text-primary"></i>
                                    Mail Bülteni
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Konu : <strong>@Html.DisplayFor(c => c.Subject)</strong></h3>
                        @* <div class="card-tools">
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div> *@
                    </div>
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h6>Gönderen : <strong>@Html.DisplayFor(c => c.Name)</strong></h6>
                            <h6>
                                Email : <strong>@Html.DisplayFor(c => c.Email)</strong>
                                <span class="mailbox-read-time float-right">@(((DateTime)Model.Date).ToString("dd.MM.yyyy"))</span>
                            </h6>
                        </div>
                        <div class="mailbox-controls with-border text-center">
                            @* <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                                    <i class="fas fa-reply"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                                    <i class="fas fa-share"></i>
                                </button>
                            </div>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                                <i class="fas fa-print"></i>
                            </button> *@
                            <label>Mesaj</label>
                        </div>
                        <div class="mailbox-read-message">
                            <p>@Html.DisplayFor(c => c.Message)</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Sil</button>
                        </div>
                        <a href="/Contact/Index/" class="btn btn-success"><i class="fas fa-undo"></i> Gelen Kutusuna Dön</a>
                        <button type="button" class="btn btn-warning"><i class="fas fa-print"></i> Yazdır</button>
                        <button type="button" class="btn btn-primary"><i class="fas fa-share"></i> Paylaş</button>
                    </div>
                </div>
            </div>
        </div>
</section>
