@using EntityLayer.Concretes
@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Index";

    Layout = User.IsInRole("Admin") ? "~/Views/Shared/_AdminLayout.cshtml" :
             User.IsInRole("Yazar") ? "~/Views/Shared/_AuthorLayout.cshtml" :
             "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Blog Listesi</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Yazar</th>
                    <th>Kategori</th>
                    <th>Tarih</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Detaylar</th>
                    <th>Yorumlar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BlogId</td>
                        <td>@item.Title</td>
                        <td>@item.Author?.Name</td>
                        <td>@item.Category?.Name</td>
                        <td>@(((DateTime)item.Date).ToString("dd.MM.yyyy"))</td>
                        <td><a href="/Blog/DeleteBlog/@item.BlogId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Blog/UpdateBlog/@item.BlogId" class="btn btn-outline-warning">Güncelle</a></td>
                        <td><a href="/Blog/BlogDetails/@item.BlogId" class="btn btn-outline-primary">Sitede Gör</a></td>
                        <td><a href="/Comment/CommentListByBlogId/@item.BlogId" class="btn btn-outline-secondary">Yorumları Oku</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a href="/Blog/AddBlog/" class="btn btn-outlin-e-success">Yeni Blog Ekle</a>
@ViewBag.Name
