
@*
    Partial View
*@

<div class="site-section ">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h2 style="color : #ffff"><strong>🎉 Popüler Bloglar 🎉</strong></h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout">
            <div class="col-md-5 order-md-2">
                <a href="/Blog/BlogDetails/@ViewData["blogId2"]" class="hentry img-1 h-100 gradient" style="background-image: url('@ViewData["imageUrl2"]');">
                    <span class="post-category text-white bg-secondary">DİYET</span>
                    <div class="text">
                        <h2 style="color : #fff">@ViewData["title2"]</h2>
                        <span style="color : #f36100">@(((DateTime)ViewData["date2"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>
            </div>

            <div class="col-md-7">

                <a href="/Blog/BlogDetails/@ViewData["blogId5"]" class="hentry img-2 v-height mb30 gradient" style="background-image: url('@ViewData["imageUrl5"]');">
                    <span class="post-category text-white bg-warning">YOGA</span>
                    <div class="text text-sm">
                        <h2 style="color : #fff">@ViewData["title5"]</h2>
                        <span style="color : #f36100">@(((DateTime)ViewData["date5"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>

                <div class="two-col d-block d-md-flex">
                    <a href="/Blog/BlogDetails/@ViewData["blogId3"]" class="hentry v-height img-2 gradient" style="background-image: url('@ViewData["imageUrl3"]');">
                        <span class="post-category text-white bg-primary">CROSSFİT</span>
                        <div class="text text-sm">
                            <h2 style="color : #fff">@ViewData["title3"]</h2>
                            <span style="color : #f36100">@(((DateTime)ViewData["date3"]).ToString("dd.MM.yyyy"))</span>
                        </div>
                    </a>
                    <a href="/Blog/BlogDetails/@ViewData["blogId6"]" class="hentry v-height img-2 ml-auto gradient" style="background-image: url('@ViewData["imageUrl6"]');">
                        <span class="post-category text-white bg-success">VÜCUT GELİŞTİRME</span>
                        <div class="text text-sm">
                            <h2 style="color : #fff">@ViewData["title6"]</h2>
                            <span style="color : #f36100">@(((DateTime)ViewData["date6"]).ToString("dd.MM.yyyy"))</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <br />
        <br />
        <div class="row text-center pt-5 border-top"></div>
    </div>
    @await Html.PartialAsync("/Views/EmailSubscription/AddSubscriber.cshtml")
</div>