@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<EntityLayer.Concretes.Blog>

@{
    string categoryColor = string.Empty;
}

@*
    Partial View
*@

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Recent Posts</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {

                if (item.Category?.Name == "YOGA")
                {
                    categoryColor = "post-category text-white bg-warning mb-3";
                }
                if (item.Category?.Name == "PİLATES")
                {
                    categoryColor = "post-category text-white bg-info mb-3";
                }
                if (item.Category?.Name == "DİYET")
                {
                    categoryColor = "post-category text-white bg-secondary mb-3";
                }
                if (item.Category?.Name == "KARDİYO")
                {
                    categoryColor = "post-category text-white bg-danger mb-3";
                }
                if (item.Category?.Name == "CROSSFİT")
                {
                    categoryColor = "post-category text-white bg-primary mb-3";
                }
                if (item.Category?.Name == "VÜCUT GELİŞTİRME")
                {
                    categoryColor = "post-category text-white bg-success mb-3";
                }

                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="single.html"><img src="@item.ImageUrl" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="@categoryColor">@item.Category?.Name</span>
                            <h2><a href="/Blog/BlogDetails/@item.BlogId/">@item.Title</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author?.ImageUrl" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"><a href="#">@item.Author?.Name</a></span>
                                <span>
                                    &nbsp;-&nbsp; @(((DateTime)item.Date).ToString("dd.MM.yyyy"))
                                </span>
                            </div>
                            <p>@item.Content?.Substring(0, item.Content.Substring(0, 150).LastIndexOf(" "))...</p>
                            <p><a href="#">Devamını Oku</a></p>

                        </div>
                    </div>
                </div>
            }
        </div>
        <br>
        <div class="row text-center pt-5 border-top"></div>
        @Html.PagedListPager(
                 Model,
                 pageNumber => Url.Action("Index", new { pageNumber }),
                 new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            // DisplayPageCountAndCurrentLocation = true,
            // DisplayItemSliceAndTotal = true,
            MaximumPageNumbersToDisplay = 5,
            ClassToApplyToFirstListItemInPager = "first-item",
            ClassToApplyToLastListItemInPager = "last-item",
            LinkToPreviousPageFormat = "«",
            LinkToNextPageFormat = "»",
            LinkToFirstPageFormat = "««",
            LinkToLastPageFormat = "»»"
        })
    </div>
</div>
