

@*
    Partial View
*@

<div class="site-section">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-12">         
            </div>
        </div>
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h2 style="color : #ffff"><strong>⭐ Öne Çıkan Bloglar ⭐</strong></h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout-2">
            <div class="col-md-4">
                <a href="/Blog/BlogDetails/@ViewData["blogId1"]" class="h-entry mb-30 v-height gradient" style="background-image: url('@ViewData["imageUrl1"]');">

                    <div class="text">
                        <h2 style="color : #ffff">@ViewData["title1"]</h2>
                        <span class="date" style="color : #f36100">@(((DateTime)ViewData["date1"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>
                <a href="/Blog/BlogDetails/@ViewData["blogId2"]" class="h-entry v-height gradient" style="background-image: url('@ViewData["imageUrl2"]');">

                    <div class="text">
                        <h2 style="color : #ffff">@ViewData["title2"]</h2>
                        <span class="date" style="color : #f36100">@(((DateTime)ViewData["date2"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Blog/BlogDetails/@ViewData["blogId3"]" class="h-entry img-5 h-100 gradient" style="background-image: url('@ViewData["imageUrl3"]');">

                    <div class="text">
                        <div class="post-categories mb-3">
                            <span class="post-category bg-secondary">DİYET</span>
                        </div>
                        <h2 style="color : #ffff">@ViewData["title3"]</h2>
                        <span class="date" style="color : #f36100">@(((DateTime)ViewData["date3"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Blog/BlogDetails/@ViewData["blogId4"]" class="h-entry mb-30 v-height gradient" style="background-image: url('@ViewData["imageUrl4"]');">

                    <div class="text">
                        <h2 style="color : #ffff">@ViewData["title4"]</h2>
                        <span class="date" style="color : #f36100">@(((DateTime)ViewData["date4"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>
                <a href="/Blog/BlogDetails/@ViewData["blogId6"]" class="h-entry v-height gradient" style="background-image: url('@ViewData["imageUrl6"]');">

                    <div class="text">
                        <h2 style="color : #ffff">@ViewData["title6"]</h2>
                        <span class="date" style="color : #f36100">@(((DateTime)ViewData["date6"]).ToString("dd.MM.yyyy"))</span>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <br />
        <div class="row text-center pt-5 border-top"></div>
    </div>
</div>
